<h2>We have been contacted by <%= @data[:first_name] %></h2>

<p>They can be reached at:<br>
<%= @data[:phone] %> or <%= @data[:email] %></p>

<p>This is what they had to say:<br>
<%= @data[:message] %></p>
